.navbar-wrapper {
    display: flex;
    align-items: stretch;
}

.logo-container{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.logo-container img{
    height: 40px;
    width: 40px;
    margin-bottom: auto;
    border-radius: 32px;
}

.center-navbar {
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

.welcome-message{
    color: #7e7f80;
    font-size: 24px;
    margin-right: auto;
}

.room-cards {

}

.room-card {
    background: #1F2328;
    border: solid 2px #2d71f5;
    padding: 10px;
    border-radius: 32px;
    color: #2d71f5;
}

.navbar {
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding: 25px;
    margin-left: auto;
}

.navbar button{
    background-color: var(--primary-color);
    border: 1px solid rgba(255, 255, 255, 0);
    height: 60px;
    display: flex;
    text-decoration: underline;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.navbar img {
    height: 100%;
    border-radius: 32px;
}